APP_ENV=development

OPENAI_API_KEY=
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
TELEGRAM_BOT_TOKEN=
N8N_WEBHOOK_URL=http://localhost:5678/
OLLAMA_BASE_URL=http://localhost:11434
JWT_SECRET=