# Ignore TSD ERM.docx
# Ignore Excel Healcheck SQL
TSD ERM.docx
excel_healcheck_kpei.sql
# Ignore temporary files
.env
.env.*
*.log
*.bak
*.txt
.txt
.docx
*.docx
# Ignore IDE specific files
.idea/
*.sublime-workspace
*.sublime-project
*.vscode/
*.md
